button {
  width: 64px;
  height: 54px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.11);
}

.Calculadora {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: #bdbebf;
}

.styleOperators {
  background-color: #d94848;
  font-weight: 600;
}

.styleOperators:hover {
  background-color: #8c1f28;
}

.Zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 129px;
}
